.dtf-input {
    width: 95% !important;
    height: 120px !important;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: transparent !important;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
}
.input_checkbox {
    width: 294px !important;
    min-width: 100%;
    height: 120px !important;
    min-height: 120px !important;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: red;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
}
.input_checkbox_filled {
    width: 294px !important;
    min-width: 100%;
    height: 120px !important;
    min-height: 120px !important;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: #61f761;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
}
.textbox_input {
    width: 100%;
    min-width: 100%;
    height: 1000px !important;
    min-height: 1000px !important;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: #433C3C;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
    background: transparent !important;
    margin-bottom: 5%;
}
.summary_text {
    text-align: center !important;
}