.ant-input {
    text-align: center !important;
    color: white !important;
}

.input {
    width: 100%;
    min-width: 100%;
    height: 20% !important;
    min-height: 20% !important;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: transparent !important;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
}