/**
 * @author Nathan Kwok, add more...
 * @since 2023-10-29
 * @version 1.0.0
 * @description CSS for the home page
 */

@font-face {
    font-family: Audiowide;
    src: url('../fonts/Audiowide-Regular.woff') format('woff');
}
@font-face {
    font-family: Figtree;
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('woff');
}
h2 {
    color: white;
    font-family: Figtree;
    font-weight: bold;
    font-size: xxx-large !important;
    margin-bottom: 0 !important;
}
body {
    margin: 0;
    font-family: Audiowide !important;
    background-color: #32a7dc !important;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.ant-tabs-tab {
    font-size: xxx-large !important;
    font-family: Figtree !important;
    font-weight: bold !important;
    color: white !important;
    height: 15% !important;
    padding-top: 5% !important;
}
.ant-select-selection-item {
    font-size: xxx-large !important;
    font-family: Figtree !important;
    font-weight: bold !important;
    color: white !important;
    height: 15% !important;
}
.ant-input-number-input {
    font-family: Figtree !important;
    font-weight: bold !important;
    color: white !important;
}
.ant-form-item-explain-error {
    font-size: xxx-large !important;
    font-family: Figtree !important;
    font-weight: bold !important;
    color: red !important;
}
.ant-select-item-option-content {
    font-size: xxx-large !important;
    font-family: Figtree !important;
    font-weight: bold !important;
}
.ant-select-selector, .ant-select-selection-placeholder, .ant-select-selection-item {
    height: 118px !important;
    line-height: 50px !important;
    background-color: #32a7dc !important;
    font-family: Figtree !important;
    font-size: xxx-large;
    font-weight: bold;
    vertical-align: middle !important;
}
.anticon {
    width: 0px !important;
    height: 0px !important;
}
.homebutton {
    width: 100%;
    min-width: 100%;
    height: 45%;
    min-height: 45%;
    margin-top: 10%;
    border: 4px solid white !important;
    border-radius: 100px;
    background-color: #32a7dc;
    font-family: Audiowide;
    color: white !important;
    font-size: 500%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: none !important;
}
.mainbutton {
    width: 100%;
    min-width: 100%;
    height: 15%;
    min-height: 15%;
    margin-top: 10%;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: #32a7dc;
    font-size: 500%;
    font-family: Audiowide;
    color: white !important;

}
.banner {
    font-size: 50px;
    vertical-align: top;
}
.input {
    width: 100%;
    min-width: 100%;
    height: 20%;
    min-height: 15%;
    border: 4px solid white !important;
    border-radius: 25px;
    background-color: #32a7dc;
    font-size: 500% !important;
    font-family: Figtree !important;
    font-weight: bold;
    color: white !important;
}