.textbox_input {
   width: 100%;
   min-width: 100%;
   height: 500px !important;
   min-height: 500px !important;
   border: 4px solid white !important;
   border-radius: 25px;
   background-color: #A9A9A9;
   font-size: 500% !important;
   font-family: Figtree !important;
   font-weight: bold;
   color: white !important;
   text-align: center !important;
   background: transparent !important;
   margin-bottom: 5%;
}